.hero-unit .container:after{
  content: "."; display: block; height: 0; line-height: 0; font-size: 0; clear: both; min-height: 0; visibility: hidden;
}

.hero-unit ul{
  float: left;
}
.hero-multiselect{
  float: right;
}

ul.contributors{
  margin: 0;
}

ul.contributors li{
  list-style-type: none;
  padding: 5px 0px;
}

ul.contributors li img{
  border: 1px #ddd solid;
  padding: 1px;
}

ul.contribute li{
  padding: 5px 0px;
  font-size: 15px;
}

.custom-header{
  text-align: center;
  padding: 3px;
  background: #000;
  color: #fff;
}

h2{
  margin-top: 2em;
}

h3{
  margin: 1em 0;
}

h4{
  margin-top: 2em;
}

#ms-searchable .ms-selection{
  margin-top: 32px;
}

#ms-searchable.ms-container{
  background-position: 164px 110px;
}

#search{
  width: 152px;
  margin-bottom: 5px;
}